body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}

nav a {
  color: grey;  
  text-align: center;
  padding: 10px;
  background-color: rgb(33, 171, 173, .5) ;

}

nav {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

#featured-property {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#details div {
  text-align: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(33, 171, 173, .5);
  width: 25%;
}